{% extends 'base.html' %}
{% block content %}
						<!--begin::Toolbar-->
						<div class="toolbar" id="kt_toolbar">
							<!--begin::Container-->
							<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
								<!--begin::Page title-->
								<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
									<!--begin::Title-->

									<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">
									<!--begin::Description-->
									<span class="text-muted fw-bold ms-2">{{product.pcces_encode}}</span>
                                    <!--end::Description-->									<!--begin::Separator-->
									<span class="h-20px border-1 border-gray-200 border-start ms-3 mx-2 me-1"></span>
									<!--end::Separator-->
                                    <span class="ms-2">{{product.name}}</span>
									</h1>
									<!--end::Title-->
								</div>
								<!--end::Page title-->

                        </div>
                        <!--end::Container-->
                        </div>
                        <!--end::Toolbar-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <!--begin::Layout Builder Notice-->
        <div class="card mt-3 mb-2 ">
            <div class="card-body d-flex">
                        <!-- <div class="col-lg-3 text-lg-end">編碼</div> -->
                            <!--begin::Row-->
                            <div class="row mb-2 container-fluid">
                                <div class="row justify-content-center container-fluid"> 
                                    <!--begin::Col-->
                                    <div class="col-lg-12 pe-12 container-fluid" style="width: 100%">
                                        <!--begin::Row-->
                                        <div class="row container-fluid">
                                            <div class="col-1" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">PCCES 編碼</span>
                                            </div>        
                                            {% for num in pcces_encode %}
                                                {% if forloop.first %}
                                                <div class="col-1 border-end border-dark" style="text-align:center; width:11.1%;">
                                                    <span class="fs-6 fw-bolder ">{{num}}</span>
                                                </div>
                                                {% elif forloop.last %}
                                                <div class="col-1" style="text-align:center; width:11.1%;">
                                                    <span class="fs-6 fw-bolder">{{num}}</span>
                                                </div>
                                                {% else %}
                                                <div class="col-1 border-end border-dark" style="text-align:center; width:11.1%;">
                                                    <span class="fs-6 fw-bolder">{{num}}</span>
                                                </div>
                                                {% endif %}
                                            {% endfor %}                                   
                                        </div>
                                        <div class="row container-fluid">
                                            <div class="col-1" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder"></span>
                                            </div>
                                            <div class="col-1 border-top border-end border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-fs-6bolder">產品</span>
                                            </div>
                                            <div class="col-1 border-top border-end border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.chapter}}</span>
                                            </div>
                                            <div class="col-1 border-top border-end border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.six_desc}}</span>
                                            </div>
                                            <div class="col-1 border-top border-end border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.senven_desc}}</span>
                                            </div>
                                            <div class="col-1 border-top border-end border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.eight_desc}}</span>
                                            </div>
                                            <div class="col-1 border-top border-end border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.nine_desc}}</span>
                                            </div>
                                            {% if pcces_encode|length == 7 %}
                                            <div class="col-1 border-top border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.ten_desc}}</span>
                                            </div>
                                            {% elif pcces_encode|length == 8 %}
                                            <div class="col-1 border-top border-end border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.ten_desc}}</span>
                                            </div>
                                            <div class="col-1 border-top border-dark" style="text-align:center; width:11.1%;">
                                                <span class="fs-6 fw-bolder">{{pcces_encode_desc.eleven_desc}}</span>
                                            </div> 
                                            {% endif %}                                          
                                        </div>
                                    </div>
                                    <!--end::Row-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
            </div>
        </div>
        <!--end::Layout Builder Notice-->
        <!--begin::Card-->
        <div class="card">
            <!--begin::Header-->
            <div class="card-header card-header-stretch overflow-auto">
                <!--begin::Tabs-->
                <ul class="nav nav-stretch nav-line-tabs fw-bold border-transparent flex-nowrap" role="tablist" id="kt_layout_builder_tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#kt_builder_main" role="tab">產品資訊</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_builder_header" role="tab">碳足跡資訊</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_builder_toolbar" role="tab">建置單位</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_builder_page_title" role="tab">審查單位</a>
                    </li>
                </ul>
                <!--end::Tabs-->
            </div>
            <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body">
                    <div class="tab-content pt-3">
                        <!--begin::Tab pane-->
                        <div class="tab-pane active" id="kt_builder_main">
                            <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">產品名稱(通用名稱) : </span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{pcces_encode_desc.common_name}}</span>
                            </div>
                            <!--end::Row-->
                            <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">英文名稱 : </span>
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <!--end::Row-->
                            <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">工項編碼名稱 : </span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.name}}</span>
                            </div>
                            <!--end::Row-->    
                            <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">工項編碼 : </span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.pcces_encode}}</span>
                            </div>
                            <!--end::Row-->    
                            <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">技術描述 : </span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.technology_desc}}</span>
                            </div>
                            <!--end::Row-->    
                            <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">製程地圖：</span>
                                {% if product.product_flow_image %}
                                <img src="{{MEDIA_URL}}{{product.product_flow_image.url}}" style="width:50%">
                                {% else %}
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                                {% endif %}
                            </div>
                            <!--end::Row-->             
                            <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">工業部門分類：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.industrial_category}}</span>
                            </div>
                            <!--end::Row-->                              <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">工業部門分類描述：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.industrial_category_desc}}</span>
                            </div>
                            <!--end::Row-->                              <!--begin::Row-->
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">生產區域名稱：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.origin}}</span>
                            </div>
                            <!--end::Row-->  
                        </div>
                        <!--end::Tab pane-->
                        <!--begin::Tab pane-->
                        <div class="tab-pane" id="kt_builder_header">
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">盤查起迄日：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.valid_time_span}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">生命週期盤查分析方法：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.lifecycle_analytic_method.method}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">生命週期盤查分析方法敘述：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.lifecycle_analytic_method.desc}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">搖籃到大門：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.co2_allocation.cradle_to_gate}} {{product.co2_allocation.unit}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">工廠大門到工地：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.co2_allocation.factory_gate_to_site}} {{product.co2_allocation.unit}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">總碳足跡：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.co2_allocation.total_carbon_footprint}} {{product.co2_allocation.unit}}</span>
                            </div>
                            {% if pcces_encode.last == 'T' %}
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">成品運輸：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.analytic_method.method}}</span>
                            </div>
                            {% endif %} 
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">投入：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">產出：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">數量：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">宣告單位：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">生命週期範疇：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.lifecycle_category}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">排除項目：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.excluded_item}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">活動數據來源：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.data_generator}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">活動數據等級：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">排放數據來源：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.emission_coefficient_source}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">排放數據等級：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">數據品質等級 : </span>
                                <div class="col-lg-9 col-xl-5 text-lg-end">
                                    <table class="table table-sm border border-dark">
                                        <tbody>
                                            <tr class="border border-dark">
                                                <th class="text-center" >完整性</th>
                                                <th class="text-center" >相關性</th>
                                                <th class="text-center" >準確性</th>
                                                <th class="text-center" >一致性</th>
                                                <th class="text-center" >透明度</th>
                                            </tr>
                                            <tr class="border border-dark">
                                                <th class="text-center" ></th>
                                                <td class="text-center" ></td>
                                                <td class="text-center" ></td>
                                                <td class="text-center" ></td>
                                                <td class="text-center" ></td>
                                            </tr>
                                        </tbody>
                                      </table>
                                </div >
                                <span class="col-lg-9 col-xl-5 text-lg-start"></span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">計算準則：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.ISO_standard}}</span>
                            </div>
                        </div>
                        <!--end::Tab pane-->
                        <!--begin::Tab pane-->
                        <div class="tab-pane" id="kt_builder_toolbar">
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">建置單位：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.company_name}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">聯絡電話：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.company_phone}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">聯絡地址：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.company_address}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">聯絡信箱：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.company_mail}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">建置日期：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.create_date}}</span>
                            </div>
                        </div>
                        <!--end::Tab pane-->
                        <!--begin::Tab pane-->
                        <div class="tab-pane" id="kt_builder_page_title">
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">審查單位：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.reviewer_name}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">聯絡電話：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.reviewer_phone}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">聯絡地址：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.reviewer_address}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">聯絡信箱：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.reviewer_mail}}</span>
                            </div>
                            <div class="row mb-10">
                                <span class="col-lg-3 text-lg-end">審查日期：</span>
                                <span class="col-lg-9 col-xl-5 text-lg-start">{{product.review_date}}</span>
                            </div>
                        </div>
                        <!--end::Tab pane-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->

    
</div>

<div class="row align-items-center" style="height: 5vh;"></div>
{% endblock %}